.intro-container {
    display: flex;
    flex-direction: column; 
    padding: 60px; 
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.introduction-image {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.intro-section {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 20px; 
}

.intro-content {
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
    padding: 20px; 
}

.intro-image {
    width: 100%; 
    max-width: 400px; 
    margin-right: 50px; /* Agrega margen a la derecha de la imagen */
}

.intro-text {
    text-align: left; 
    width: 100%;
    margin-left: 50px;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .intro-section {
        flex-direction: column; /* Cambia a columna para pantallas pequeñas */
        align-items: center; /* Centra el contenido */
    }

    .intro-image {
        margin-bottom: 15px; 
        max-width: 100%; 
    }

    .intro-text {
        text-align: center; 
        width: auto; /* Permite que el texto se ajuste al ancho */
    }

    /* Ajusta la dirección del flex para que la imagen esté encima del texto */
    .intro-content {
        flex-direction: column; 
    }
}

.company-image {
    width: 100%;
    height: auto;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 18px;
    color: #fff;
    background-color: rgb(48, 203, 207);
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: rgb(40, 65, 146); 
}

.intro-text p {
    font-family: "Arial", sans-serif; 
    margin-bottom: 10px; 
}

.intro-text p:first-of-type {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555; 
}

.intro-text p:last-of-type {
    padding-top: 25px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: #555555c3; 
}
