.nav-bgcolor {
  background-color: rgb(222, 235, 246);
}

.nav-link-custom {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  position: relative;
  color: rgb(40, 65, 146) !important;
  font-size: 20px !important;
  padding: 10px 15px;
  text-decoration: none;
}

.nav-link-custom:hover {
  color: rgb(48, 203, 207) !important;
}

.nav-link-custom::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgb(48, 203, 207);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link-custom:hover::after {
  transform: scaleX(1); /* Línea aparece en hover */
}

@media (max-width: 768px) {
  .nav-link-custom {
    font-size: 18px; /* Un poco más pequeño en pantallas pequeñas */
    padding: 8px 10px;
  }
}